* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

body {
  background-image: url(../images/fondo.png);
  background-size: cover;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  max-width: 100px;
}

.nav ul {
  list-style: none;
  padding: 0;
}

.nav li {
  display: inline;
  margin-right: 20px;
}

.nav a {
  text-decoration: none;
  color: #333;
}

.search {
  display: flex;
  align-items: center;
}

.search input {
  margin-right: 10px;
  padding: 5px;
}

.search button {
  background: transparent; 
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 50%; 
}

.search button i {
  color: #333; 
  font-size: 16px; 
}
